body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 380px;
    font-size: 16px;
}

ul {
    padding: 0;
}

h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    margin:100px 0 30px 0;
}

h2{
    text-transform: uppercase;
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    opacity: 0.8;
}

p{
    font-size: 16px;
    line-height: 28px;
    margin: 30px 0 50px 0;
    opacity: 0.7;
}

b{
    font-size: 24px;
    opacity: 0.7;
}

.button{
    font-size: 18px;
    line-height: 24px;
    color:#ff2d2d;
    background: #ffffff;
    border: 1px solid  #ff2d2d;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 225px;
    height: 55px;
    transition: 0.4s;
}

.button:hover{
    color:#ffffff;
    background: #ff2d2d;
    transition: 0.4s;
}

.wrap {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1600px;
}

header {
    width: 100%;
    background: #e0e0e0;
}

nav {
   padding: 25px 0 0 0;
}
.main-meny {
    background: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

.main-meny>li{
    margin: 0 22px;
}

.main-meny>li>a{
    color:white;
    text-decoration: none;
    display: flex;
    padding: 30px 20px;
    align-items: center;
    transition: 0.4s;
}

.main-meny>li>a:hover{
    background: red;
    transition: 0.4s;
}

.header-content{
    display: flex;
    width: 100%;
}

.header-left{
    width: 50%;
    max-width: 610px;
    margin-right: auto;
}

.header-right{
    width: 50%;
}

.video{
    max-width: 550px;
    width: 100%;
    height: 350px;
    box-shadow: -14px -14px 73px rgba(0,0,0,0.29);
    margin: 100px 0 0 auto;
}

.header-btn{
    margin:60px 0 120px 0;
}

.section-one{
    background: #ffffff;
}

.section-one-container{
    width: 100%;
    padding: 100px 0 0 0;
    display: flex;
    flex-wrap: nowrap;
}

.section-one-left{
    width: 50%;
    max-width: 550px;
    margin-right: auto;
}

.section-one-right{
    width: 50%;
    max-width: 730px;
    padding: 90px 0 0 0;
}

.list-services{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.list-services>li{
    width: 50%;
    position: relative;
    padding: 10px 0 20px 0;
}

.list-services>li>p{
    margin: 15px 0 75px 0;
}

.list-services>li>img{
    position: absolute;
    top:-60px;
}

.section-two{
    background: #ffffff;
}

.section-two-text{
    width: 500px;
    text-align: center;
    margin: 85px auto 0;
}

.tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 95px 0 0 0;
}

.tabs>li{
    text-transform: uppercase;
    padding: 0 27px;
}

.tabs>li>a{
    text-decoration: none;
    color:#000000;
    opacity: 0.7;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}